<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.e.yourAlarmClock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_clock"
        android:label="@string/header"
        android:roundIcon="@mipmap/ic_clock_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.e.yourAlarmClock.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.e.yourAlarmClock.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.e.yourAlarmClock.Blue_Screen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".AboutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

    <receiver android:name="com.e.yourAlarmClock.AlarmReceiver"
        android:process=":remote"
        android:enabled="true"
        android:exported="true">
    </receiver>

    </application>

</manifest>